<<<<<<< HEAD
=======
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/wil\/Network_Shares\/local_web\/themedocs\/assets\/src\/style\.sass}line{font-family:\000031}}
body { padding-top: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/wil\/Network_Shares\/local_web\/themedocs\/assets\/src\/style\.sass}line{font-family:\000034}}
#container { margin-top: 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/wil\/Network_Shares\/local_web\/themedocs\/assets\/src\/style\.sass}line{font-family:\000037}}
h2 { padding-bottom: 4px; border-bottom: 1px dashed #cccccc; color: #004a8c; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/wil\/Network_Shares\/local_web\/themedocs\/assets\/src\/style\.sass}line{font-family:\0000312}}
.item { margin-bottom: 80px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/wil\/Network_Shares\/local_web\/themedocs\/assets\/src\/style\.sass}line{font-family:\0000315}}
.alignright { float: right; margin: 0 0 10px 10px; }
>>>>>>> navbar
