@import 'reset.css';

a { color: #5C951E!important;}
#container { width: 960px; margin: 0 auto; overflow: hidden; position: relative; }
.centered { width: 60%; margin: 0 auto; padding: 10px auto; position: relative; overflow: hidden; text-align: center; }

h1 { text-align: center; position: relative; display: block; padding: 5px 0; font-size: 18px; }

#footer { position: relative; overflow: hidden; border-top: 1px dashed #ddd; padding: 20px 0; height: 50px; margin-top: 10px; }

img { position: relative; border: 1px solid #ccc; }

.alignleft { float: left; margin: 0 10px 10px 0; }
.alignright { float: right; margin: 0 0 10px 10px; }